
<div id="editor">
  <p>This is Quill in Ruby
  </p>
</div>


<script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>

<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });
</script>
